data/anime/
data/bicycles/
data/chess/
data/christianity/
data/cooking/
data/diy/
data/history/
data/judaism/
data/money/
data/movies/
data/music/
data/photo/
data/rpg/
data/workplace/
data/worldbuilding/

.Rhistory
.RData